body {
    display: grid;
    grid-template-areas: 'header header nav'
        'main main main'
        'footer footer footer';
    row-gap: 1em;
    background-image: linear-gradient(white, black);
}

header {
    grid-area: header;
    text-align: center;
    background: none;
}

header img {
    width: 15%;
    vertical-align: middle;
    border-radius: 50%;

}

nav {
    grid-area: nav;
    font-weight: bold;
    text-align: center;
}

nav ul {
    padding: 0;
}

nav ul li {
    min-width: 11%;
    margin-right: 1em;
    list-style-type: none;
    line-height: 2.5em;
    font-size: 1.5em;
    border-radius: 1em;;
    background: linear-gradient(45deg, yellow 0%, blue 100%);
    box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.25),
        inset 0 2px 1px 1px rgb(70, 65, 65),
        1px 1px 15px 2px rgba(154, 137, 164, 0.5);
    text-shadow: 2px -2px 4px rgb(47, 65, 102),
        -2px 2px 5px rgb(226, 46, 166);
    outline: none;
    color: rgb(86, 231, 142);
}

nav ul li a {
    text-decoration: none;
    color: grey;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 'mainLeft mainCenter mainRight';
    grid-template-columns: 0.5fr 2fr 0.5fr;
    background-image: linear-gradient(white, white, grey);
    border-radius: 1.0em;
    box-shadow: 0.5em 0.5em 0.5em black;
    min-height: 20em;
}

.mainLeft {
    grid-area: mainLeft;
    padding: 0.5em;
}

.mainCenter {
    grid-area: mainCenter;
    padding: 0.5em;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.mainRight {
    grid-area: mainRight;
    padding: 0.5em;
}

footer {
    grid-area: footer;
    background-image: linear-gradient(to right, white, grey);
    border-radius: 1.0em;
    box-shadow: 0.5em 0.5em 0.5em black;
    text-align: center;
}

/* mobile */
@media screen and (max-width: 640px) {
    body {
        display: grid;
        grid-template-areas: 'header'
            'nav' 'main' 'footer';
    }

    nav {
        background: none;
        box-shadow: none;
        text-align: center;
    }

    nav ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        background: none;
        min-width: 80%;
    }

    nav ul li {
        border-radius: 1em;
        margin: 0 0 0.5em 0;
        background: linear-gradient(45deg, yellow 0%, blue 100%);
        box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.25),
            inset 0 2px 1px 1px rgb(70, 65, 65),
            1px 1px 15px 2px rgba(154, 137, 164, 0.5);
        text-shadow: 2px -2px 4px rgb(47, 65, 102),
            -2px 2px 5px rgb(226, 46, 166);
        outline: none;
        color: rgb(86, 231, 142);
    }

    nav ul li:last-child {
        margin: 0;
        max-width: 100%;
        ;
    }

    .main {
        grid-area: main;
        display: grid;
        grid-template-areas: 'mainCenter';
        grid-template-columns: 1fr;
        min-height: 20em;
    }

    .mainCenter {
        grid-area: mainCenter;
        border: 0;
    }

    .mainLeft,
    .mainRight {
        display: none;
    }

}

/* tablet */
@media screen and (min-width: 641px) and (max-width:960px) {
    body {
        display: grid;
        grid-template-areas: 'header header'
            'nav nav'
            'main main'
            'footer footer';
    }

    nav {
        grid-area: nav;
        text-align: center;
        background: none;
        box-shadow: none;
    }

    nav ul {
        padding: 0;
        margin: 0;
    }

    nav ul li {
        display: inline-block;
        border-radius: 1em;
        min-width: 15%;
        background: linear-gradient(45deg, yellow 0%, blue 100%);
        box-shadow: inset 0 0 35px 0px rgba(0, 0, 0, 0.25),
            inset 0 2px 1px 1px rgb(70, 65, 65),
            1px 1px 15px 2px rgba(154, 137, 164, 0.5);
        text-shadow: 2px -2px 4px rgb(47, 65, 102),
            -2px 2px 5px rgb(226, 46, 166);
        outline: none;
        color: rgb(86, 231, 142);
        box-shadow: 0.5em 0.5em 0.5em black;

    }

    nav ul li:last-child {
        margin: 0;
    }

    .main {
        grid-area: main;
        display: grid;
        grid-template-areas: 'mainCenter mainRight';
        grid-template-columns: 3fr 1fr;

    }

    .mainRight {
        grid-area: mainRight;
        padding: 0.5%;
        border-right: 1px solid black;
        border-left: 0;
    }

    .mainLeft {
        display: none;
    }
}

/* desktop */
@media screen and (min-width: 961px) {
    nav ul li {
        display: inline-block;
    }
}